* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(83, 82, 82);
}

/* text-cointainer */

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.container h1 {
    font-size: 8vw;
    background: linear-gradient(to right, rgb(255, 248, 248), rgb(72, 72, 196), rgb(238, 64, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h2 {
    color: white;
    font-size: 3vw;
}

.container h3 {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(5, 5, 143), rgb(0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
}


/* Aichat - userchat - container */

.chat-container {
    width: 100%;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: white;
}


.user-chat-box {
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: rgb(119, 183, 238);
    font-size: 1.5rem;
    border-radius: 40px 40px 0 40px;

}

.img {
    width: 200px;
    height: 100%;
}



.ai-chat-box {
    width: 70%;
    padding: 20px;
    display: flex;
    background-color: rgba(147, 182, 212, 0.747);
    font-size: 1.5rem;
    border-radius: 40px 40px 40px 0px;
    z-index: -900;
}



/* Prompt-area */

.prompt-area {
    width: 100%;
    height: 120px;
    background-color: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

#prompt {
    width: 60%;
    height: 60%;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 30px 0px 0px 30px;
    font-size: 2rem;
    box-shadow: 0 0 10px black;
}

#btn {
    border: none;
    width: 10%;
    height: 60%;
    background-color: aliceblue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: plum;
    color: black;
    box-shadow: 0 0 10px black;


}

#btn:active {
    opacity: 0.9;
}



.prompt-area i {
    font-size: 2.2rem;
}



/* start-media -query  */


@media (max-width:799px) {
    .container h1 {
        height: auto;
        font-size: 5rem;
    }

    .user-chat-box {
        width: 100%;
    }

    .ai-chat-box {
        width: 100%;
        padding-bottom: 50px;
    }

    #prompt {
        width: 100%;
        font-size: 1.5rem;
    }

    #btn {
        width: 20%;
    }
}

@media (max-width:488px) {
    .container h1 {
        height: auto;
        font-size: 3.5rem;
    }

    .user-chat-box {
        width: 100%;

    }

    .ai-chat-box {
        width: 100%;
        padding-bottom: 50px;
    }

    #prompt {
        width: 100%;
        font-size: 1.5rem;

    }

    #btn {
        width: 20%;
    }
}